<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/site/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" />
</head>

<body class="">

    <header>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <nav class=" navbar-toggler text-center" style="background-color:midnightblue">

            <div class="container navbar-collapse">
                <form class="form-inline my-2 my-lg-0" method="get" id="searchform">
                    <input class="form-control mr-sm-2" type="search" placeholder="Busque no site" aria-label="Busque no site">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    <h5 class="mx-5 my-2 " style="color:aliceblue">Acabou o gaás..? Lig Dja para ultragaz!</h5>
                </form>
            </div>
        </nav>



        <nav class="justify-content-md-around navbar navbar-expand-sm border-bottom  mb-5" style="background-color:white">

            <div class="btn-group btn-group-toggle clearfix" data-toggle="collapse">

                <a class="navbar-brand font-weight-bold float-sm-left" style="color:mediumblue" asp-controller="Home" asp-action="Index">
                    <img class="rounded" src="~/imagem/logo.png" width="200" height="200" alt="" />
                </a>

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                    </button>
                </div>

                <div class="navbar-collapse collapse navbar-nav">

                    <ul class="navbar-nav flex-grow-1 a">

                        <li class="navbar nav-item">
                            <h6><a class="nav-link font-weight-bold" style="color:mediumblue" asp-controller="Home" asp-action="Index">INÍCIO</a></h6>
                        </li>

                        <li class="navbar nav-item">

                            <h6 class="dropdown-toggle nav-link font-weight-bolder" style="color:mediumblue" data-toggle="dropdown"><a href="#" style="color:mediumblue">SERVIÇOS</a></h6>

                            <ul class="dropdown-menu">
                                <li>
                                    <h5><a class="nav-link" asp-area="Views" asp-controller="Servico" asp-action="gasE">Gás empresarial</a></h5>
                                    <h5><a class=" nav-link" asp-area="Views" asp-controller="Servico" asp-action="gasR">Gás residencial</a></h5>
                                    <h5><a class=" nav-link" asp-area="Views" asp-controller="Servico" asp-action="autorizado">Autorizado / Clandestino</a></h5>
                                    <h5><a class=" nav-link" asp-area="Views" asp-controller="Servico" asp-action="dicas">Dicas de segurança</a></h5>
                                </li>
                            </ul>

                        </li>

                        <li class="navbar nav-item">
                            <h6><a class="nav-link font-weight-bold" style="color:mediumblue" asp-controller="Home" asp-action="Sobre">SOBRE</a></h6>
                        </li>

                        <li class="navbar nav-item">
                            <h6><a class="nav-link font-weight-bold" style="color:mediumblue" asp-controller="Home" asp-action="Contato">CONTATO</a></h6>
                        </li>
                    </ul>


                    <div class="dropdown-item"></div>
                    <div class="dropdown-item"></div>



                    <div class="navbar-brand">
                        <a class="mx-5">
                            <img class="mx-2" src="~/imagem/ultragaz-logo-12.png" />
                        </a>
                    </div>

                    <div class="btn-group-vertical">
                        <a class="mb-1" href="https://api.whatsapp.com/send?phone=556592704727&text=Ol%C3%A1,%20vi%20seu%20whats%20no%20site.%20Aviso:%20Devido%20a%20alta%20demanda,%20pedimos%20a%20compreens%C3%A3o%20em%20eventual%20espera%20no%20atendimento.%20Para%20maior%20agilidade,%20pe%C3%A7a%20pelo%20aplicativo%20Ultragaz%20Connect." style="color:whitesmoke">
                            <img class="rounded-lg mb-1" src="~/imagem/whats.jfif" width="27" height="25" alt="" />
                        </a>

                        <a class="mb-1" href="https://www.instagram.com/ligdja/?igshid=lgzl01fevtm2" style="color:whitesmoke">
                            <img class="rounded-lg" src="~/imagem/instagram.png" width="27" height="25" alt="" />
                        </a>

                        <a class="" href="https://www.facebook.com/ligdja/" style="color:whitesmoke">
                            <img class="rounded-lg" src="~/imagem/facebook.webp" width="27" height="25" alt="" />
                        </a>
                    </div>

                </div>

            </div>
        </nav>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div id="footer" data-bi-name="footer" class="card-group uhf-container has-padding" role="contentinfo" style="background-color:midnightblue">

        <footer class="navbar navbar-nav">


            <div class="card col-lg-3 rounded mx-5 my-md-5 embed-responsive-21by9">
                <div class"">

                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3843.489128290488!2d-56.09712815868941!3d-15.565494049895898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db16c775c9b87%3A0xc894a319f090ac18!2sLig%20D&#39;j%C3%A1%20Ultragaz!5e0!3m2!1spt-BR!2sbr!4v1585376078120!5m2!1spt-BR!2sbr" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

        </footer>

    </div>


    <div class=" navbar-toggler text-center my-xl-5" style="color:dimgrey">&copy; ₢ Copyrigth  LigD'já 2020</div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/twitter-bootstrap/css/bootstrap.css"></script>
    <script src="~/lib/twitter-bootstrap/css/bootstrap.min.css"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>



    @RenderSection("Scripts", required: false)



</body>
</html>
