
<body style="background-color:whitesmoke">

    <div class="container" style="max-width: 500px;">
        <form>
            <div class="form-group">
                <label for="Input1">Nome</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Input2">Telefone</label>
                <input type="tel" id="telefone" placeholder="(**) *****-****" class="form-control">
            </div>
            <div class="form-group">
                <label for="input3">Qual o seu endereço?</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="input4">Qual o seu bairro?</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="inputCidade">Cidade</label>
                <input type="text" class="form-control" id="inputCidade" />
                <select id="inputCidade" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputEstado">Estado</label>
                <input type="text" class="form-control" id="inputEstado" />
                <select id="inputEstado" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@examplo.com">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>


</body>