@{
    ViewData["Title"] = "Gás Empresarial";
}

<body style="background-color:ghostwhite">


    <h1 class="text-center border-bottom mb-5" style="color:dodgerblue">@ViewData["Title"]</h1>


    <h3 class="mb-5 text-center" style="color:darkorange">Saiba mais sobre a utilização e as dimensões dos botijões de gás Ultragaz.</h3>


    <div class="card-group rounded">

        <div class="card-columns card-group mb-5">

           
            <div class="card border rounded" style="width: 18rem;">

                <img class="rounded mx-5 col-8 mb-3" src="~/imagem/p45-45k.png" width="150" height="150" alt="" />

                <h5 class="card-title text-center mx-1" style="color:dodgerblue">Cilindro de gás P45 ou Botijão de larga escala</h5>
                <p class="card-body">
                    O cilindro de gás P45 possui <a class="font-weight-bold">45 quilos</a>. Utilizado em larga escala, em diferentes situações e locais, como residências, comércio, bares, restaurantes, é instalado em centrais de GLP – sempre em locais pré-determinados pelo cliente e de acordo com as normas técnicas e devidas documentações estabelecidas.

                    Dimensões: diâmetro 373mm x altura 1292mm.

                   Atualmente quem utiliza mais são restaurantes, lanchonetes, e rede de hotelarias.
                </p>
                <p class="card-body">Garanta já o seu cartão fidelidade!</p>
                <p class="card-body"><a class="font-weight-bold">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>

            </div>

        </div>

    </div>


</body>