@{
    ViewData["Title"] = "Gás Empresarial";
}

    <body style="background-color:ghostwhite">


        <h1 class="text-center border-bottom mb-5" style="color:dodgerblue">@ViewData["Title"]</h1>


        <h3 class="mb-5 text-center" style="color:darkorange">Saiba mais sobre a utilização dos botijões de gás Ultragaz.</h3>


        <div class="card-group rounded">

            <div class="card mb-5" style="max-width: 1200px;">
                <div class="row no-gutters">
                    <div class="col-md-6" style="padding: 50px;">
                        <img src="~/imagem/p45-45k.png" class="card-img" alt="...">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-5" style="color:dodgerblue">Cilindro de gás P45 ou Botijão de larga escala!</h2>
                            <p class="card-body">
                                O cilindro de gás P45 possui <a class="font-weight-bold">45 quilos</a>. Utilizado em larga escala, em diferentes situações e locais, como residências, comércio, bares, restaurantes, é instalado em centrais de GLP – sempre em locais pré-determinados pelo cliente e de acordo com as normas técnicas e devidas documentações estabelecidas.

                                Dimensões: diâmetro 373mm x altura 1292mm.

                                Atualmente quem utiliza mais são restaurantes, lanchonetes, e rede de hotelarias.
                            </p>
                            <p class="card-body">Garanta já o seu cartão fidelidade!</p>
                            <p class="card-body"><a class="font-weight-bold">#ultragaz #cuiaba #negocioslocais #comida #diamanteazul #fidelidade</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card mb-5">
            <img class="rounded" src="~/imagem/condominio.jpg" width="1112" height="600" alt="" />
            <div class="card-img-overlay">
                <h5 class="card-title" style="color:black"> Gás para Condomínios</h5>
                <div class="card-body flex-md-column">
                    <p class="card-text" style="color:aliceblue">

                        O uso do GLP em condomínios é uma solução energética limpa e sustentável que pode trazer diversos benefícios para os síndicos e moradores, como por exemplo:

                        - Aquecimento de água com menor custo.

                        - Alto poder calorífico para cozimento de alimentos, permitindo maior economia

                        - Lavagem e secagem de roupas de maneira mais econômica.

                        - Climatização de temperatura de ambientes.

                        Conheça todas as soluções para condomínios Ultragaz
                    </p>
                </div>
            </div>
        </div>



        <div class="card mb-5">
            <img class="rounded" src="~/imagem/cozinha2.jfif" width="1112" height="500" alt="" />
            <div class="card-img-overlay">
                <h5 class="card-title" style="color:black">Gás comercial GLP para o seu negócio</h5>
                <div class="card-body flex-md-column">
                    <p class="card-text text-dark">

                        Além de garantir o preparo de deliciosas receitas na sua casa, o gás liquefeito de petróleo também está presente em diversas aplicações comerciais. O uso de gás comercial permite uma versatilidade de aplicações nos mais diversos segmentos de negócio.

                        A instalação de gás para empresas auxilia na diminuição de custos com fornecimento de energia elétrica e é uma solução eficaz para a produtividade. O GLP é uma fonte de energia ecologicamente responsável e de utilização segura.
                    </p>
                </div>
            </div>
        </div>



    </body>